[submodule "flexsea-user"]
	path = flexsea-user
	url = https://github.com/JFDuval/flexsea-user.git
	branch = cleanup
[submodule "flexsea-comm"]
	path = flexsea-comm
	url = https://github.com/JFDuval/flexsea-comm.git
	branch = cleanup
[submodule "flexsea-system"]
	path = flexsea-system
	url = https://github.com/JFDuval/flexsea-system.git
	branch = cleanup
[submodule "flexsea-shared"]
	path = flexsea-shared
	url = https://github.com/JFDuval/flexsea-shared.git
	branch = dev
